<div class="navbar" id="nbshow">
  <h5><%= @list.name %>'s list:</h5>
  <h5><%= link_to 'add a movie', new_list_bookmark_path(@list) %></h5>
</div>

<div class="content">
  <div class="bookmark-grid">

    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="bookmark-card">
        <h2><%= movie.title %></h2>
        <p><%= movie.rating %></p>
        <p><%= movie.overview %></p>
        <p><%= bookmark.comment %></p>
        <%= link_to 'delete', bookmark_path(bookmark), method: :delete %>
      </div>
    <% end %>

  </div>

</div>

<div class="navbar" id="nbshow">
  <h5><%= @list.name %>'s list reviews:</h5>
  <h5><%= link_to 'add a review', new_list_review_path(@list) %></h5>
</div>

<div class="content">

  <div class="bookmark-grid">
      <% @list.reviews.each do |review| %>
        <div class="bookmark-card">
          <h2><%= review.rating %></h2>
          <p><%= review.comment %></p>
        </div>
      <% end %>
  </div>
</div>
